@charset "shift_jis";
/* CSS Document */

#maincol .textbox{
	clear: both;
	margin: 0px 0px 20px 10px;
	padding: 0px;
}
#maincol .textbox2{
	clear: both;
	margin: 0px 0px 18px 35px;
	padding: 0px;
}


/* jigyousyo */
#jigyousyo {
	line-height: 1.6;
}
#jigyousyo p {
	margin: 0px 0px 10px 22px;
}


/* jigyousyo subcol */
#jigyousyo #subcol .syubetsu {
	color: #603;
	font-size: 90%;
	text-indent: 5px;
}
#jigyousyo #subcol .syubetsuLink {
	margin: 12px 0px 0px 3px;
	padding: 0px 0px 0px 4px;
	border-left: 5px solid #606;
}
#jigyousyo #subcol .koumoku {
	line-height: 1.5;
	margin: 0px 0px 5px 3px;
	padding: 3px 3px 2px 8px;
	border-top: 1px solid #FC6;
	border-right: 2px solid #F63;
	border-bottom: 1px solid #F63;
	border-left: 1px solid #FC6;
	background: #FFFFDF;
}
#jigyousyo #subcol .koumokuList {
	margin: 0px;
	padding: 0px 3px 0px 15px;
	font-size: 90%;
	list-style: disc;
}
#jigyousyo #subcol .koumoku a {
	display: block;
}
#jigyousyo #subcol .koumoku a:hover {
	background: #FC9;
}
#jigyousyo #subcol .navilink {
	list-style: circle;
	line-height: 1.5;
	margin: 0px 0px 10px 12px;
	padding: 0px 0px 0px 16px;
}


/* top page */
#jigyousyo #maincol .setsumei {
	width: 98%;
	margin: 0px 0px 0px 5px;
	font-size: 90%;
}
#jigyousyo #maincol .theme {
	height: 28px;
	margin: 2px 0px 12px 3px;
}
#jigyousyo #maincol .point {
	width: 98%;
	margin: 3px 0px 15px 3px;
	padding: 5px;
	background: url(../img/jservice_top_back1.jpg) left top;
}
#jigyousyo #maincol .pointList {
	margin: 0px;
	padding: 3px 3px 3px 40px;
	border: 2px dotted #FFF;
}
#jigyousyo #maincol .sagasu {
	height: 27px;
	margin: 0px;
	padding: 0px 0px 1px;
	border-bottom: 3px solid #066;
	background: url(../img/jservice_icon.gif) no-repeat left bottom;
	color: #030;
	font-size: 120%;
	text-indent: 18px;
}
#jigyousyo #maincol .type {
	margin: 4px 0px 0px 12px;
	padding: 0px 1px 0px 3px;
	font-weight: bold;
}
#jigyousyo #maincol .category {
	width: 80%;
	line-height: 1.8;
	margin: 0px 5px 10px 26px;
	padding: 5px 3px 8px 20px;
	background: #F3FEDA;
	border-left: 3px solid #9C0;
	letter-spacing: 0.1em;
}
#jigyousyo #maincol .category2 {
	width: 80%;
	line-height: 1.8;
	margin: 8px 5px 16px 26px;
	padding: 5px 3px 8px 20px;
	background: #F3FEDA;
	border-left: 3px solid #9C0;
	letter-spacing: 0.1em;
}

#jigyousyo #maincol .mokuji {
	list-style: none;
	width: 98%;
	margin: 0px;
	padding: 0px;

}
#jigyousyo #maincol .mokuji a {
	display: block;
}
#jigyousyo #maincol .mokuji a:hover {
	background: #C9F8E3;
}

#jigyousyo #maincol .way {
	float: left;
	clear: none;
	width: 48%;
	margin: 10px 20px 10px 0px;
	padding: 0px 0px 3px;
	background: url(../img/jservice_way_back1.jpg) repeat-y right top;
}
#jigyousyo #maincol .way2 {
	float: right;
	clear: right;
	width: 48%;
	margin: 10px 0px;
	padding: 0px 0px 3px;
	background: url(../img/jservice_way_back1.jpg) repeat-y right top;
}




/* menu */
#jigyousyo #maincol .houhou{
	margin: 10px 0px 15px;
}
#jigyousyo #maincol .servicename {
	margin: 10px 0px 0px;
	border-bottom: 2px solid #930;
	background: url(../img/accent_001.gif) no-repeat left 3px;
	color: #603;
	text-indent: 28px;
}
#jigyousyo #maincol .list {
	line-height: 1.9;
	margin: 10px 0px 30px;
	padding-left: 70px;
}
#jigyousyo #maincol .serviceShousai {
	list-style: circle;
	margin: 15px 0px 0px;
	text-indent: 13px;
}
#jigyousyo #maincol .servicename2 {
	margin: 10px 0px 0px;
	border-bottom: 2px solid #066;
	background: url(../img/accent_002.gif) no-repeat left 3px;
	color: #033;
	text-indent: 28px;
}


/* jserviceResult */
#jserviceResult .kekka {
	margin: 0px 0px 10px 25px;
	border-top: 1px solid #9C9;
	border-right: 2px solid #9C9;
	border-bottom: 1px solid #9C9;
	border-left: 1px solid #9C9;
}
#jserviceResult .kekka th {
	padding: 3px 2px;
	background: #E7F4CA;
	color: #066;
	text-align: left;
	border-left: 1px solid #9C9;
	border-bottom: 1px solid #9C9;
	font-size:90%;
}
#jserviceResult .kekka td {
	padding: 3px 2px;
	border-left: 1px solid #9C9;
	border-bottom: 1px solid #9C9;
	font-size:80%;
}

#jserviceResult .hikaku {
	line-height: 1.4;
	margin: 12px 0px 10px 25px;
	padding: 3px 2px 3px 3px;
	border: 1px solid #C99;
	font-size: 90%;
	color: #900;
}
#jserviceResult .hikakubutton {
	width: 80px;
/* 2015.09.29 TCSJ add Start */
	height: 25px;
/* 2015.09.29 TCSJ add End */
	margin: 0px 10px 0px 0px;
	font-size: 110%;
	text-align: center;
	letter-spacing: 0.2em;
}
/* 2015.09.29 TCSJ add Start */
#jserviceResult .mapbutton {
	width: 80px;
	height: 20px;
	margin: 0px 10px 0px 0px;
	font-size: 80%;
	text-align: center;
	letter-spacing: 0.2em;
}
/* 2015.09.29 TCSJ add End */

#jserviceResult .saikensaku {
	margin: 0px 0px 8px 40px;
	font-size:90%;
}
#jserviceResult .saikensaku td {
	padding: 2px 1px 3px;
}
#jserviceResult .saikensakuForm1 {
	margin: 0px 5px 6px 0px;
	width: 100px;
}
#jserviceResult .saikensakuForm2 {
	margin: 0px 5px 6px 0px;
	width: 500px;
}
#jserviceResult .saikensakuForm3 {
	margin: 0px 5px 6px 0px;
	width: 150px;
}
#jserviceResult .saikensakubutton {
	margin: 0px 10px 0px 0px;
	font-size: 130%;
	text-align: center;
	width: 100px;
/* 2015.09.29 TCSJ add Start */
	height: 25px;
/* 2015.09.29 TCSJ add End */
	letter-spacing: 0.2em;
}

#jserviceResult .backright {
	background: url(../img/jservice_ichiran1.jpg) repeat-y right;
	text-align: right;
}
#jserviceResult .backleft {
	background: url(../img/jservice_ichiran2.jpg) repeat-y left;
}

#jserviceResult .setsumei {
	margin: 5px 0px 10px 20px;
	padding: 2px;
	width: 80%;
	border-top: 3px solid #696;
	border-right: 1px solid #9C9;
	border-bottom: 3px solid #696;
	border-left: 1px solid #9C9;
	background: url(../img/jservice_back1.gif) repeat-x top;
	clear: both;
}
#jserviceResult .theme {
	margin: 1px 2px 10px;
	padding: 2px 0px 2px 4px;
	color: #030;
	font-weight: bold;
	font-size: 130%;
	letter-spacing: 0.1em;
	border-bottom: 1px solid #696;
}
#jserviceResult .setsumeibox{
	margin: 0px 0px 15px 0px;
	padding: 5px 0px 0px 2px;
	border-bottom: 1px dashed #693;
	background: url(../img/jservice_back2_1.jpg) repeat-y left top;
}
#jserviceResult .setsumeibox p {
	margin: 0px 0px 10px 22px;
}


/* ichiran */
#jserviceResult .ichiranTitle {
	font-weight: bold;
	color: #660;
	letter-spacing: 0.1em;
	font-size: 150%;
}
#jserviceResult .ichiranTitle2 {
	margin-top: 40px;
	font-weight: bold;
	color: #660;
	letter-spacing: 0.1em;
	font-size: 120%;
	text-align:center;
}
#jserviceResult .ichiranPage {
	margin: 2px 0px;
	font-size:80%;
}
#jserviceResult .ichiranPage td {
	padding: 2px 1px 3px 2px;
}

#jserviceResult .ichiranTable {
	margin: 0px 0px 10px;
	padding: 1px 1px 1px 0px;
	border: 1px solid #393;
	font-size:80%;
    line-height: 1.3;
}
#jserviceResult .ichiranTable th {
	padding: 1px 2px;
	background: #E7F4CA;
	border-top: 1px solid #9C9;
	border-right: 1px solid #9C9;
	border-bottom: 2px solid #396;
	color: #030;
	letter-spacing: 0.2em;
	text-align: center;
}
#jserviceResult .ichiranTable td {
	padding: 1px 1px 1px 5px;
	border-right: 1px solid #9C6;
	border-bottom: 2px solid #396;
}

/* 2011.09.01 ITF add S */
#jserviceResult .ichiranTable2 {
	margin: 0px 0px 50px;
	padding: 1px 1px 1px 0px;
	border: 1px solid #393;
	font-size:80%;
    line-height: 1.3;
}
#jserviceResult .ichiranTable2 th {
	padding: 1px 2px;
	background: #E7F4CA;
	border-top: 1px solid #9C9;
	border-right: 1px solid #9C9;
	border-bottom: 2px solid #396;
	color: #030;
	letter-spacing: 0.2em;
	text-align: center;
}
#jserviceResult .ichiranTable2 td {
	padding: 1px 1px 1px 5px;
	border-right: 1px solid #9C6;
	border-bottom: 2px solid #396;
}
#jserviceResult .ichiranTable3 th {
	padding: 1px 2px;
	background: #E7F4CA;
	border-top: 2px solid #9C9;
	border-right: 2px solid #9C9;
	border-left: 2px solid #9C9;
	border-bottom: 1px solid #396;
	color: #030;
	letter-spacing: 0.2em;
	text-align: center;
}
/* 2011.09.01 ITF add E */

/* hikaku */
#jserviceResult .hikakuService {
	margin: 0px 0px 10px 50px;
	text-align: right;
	font-size: 90%;
	color: #600;
}

#jserviceResult .hikakuName {
	margin: 0px 0px 0px 50px;
	padding: 0px 1px 0px 0px;
	line-height: 1.3;
	border-top: 1px solid #393;
	border-right: 1px solid #393;
	border-bottom: 2px solid #636;
	border-left: 1px solid #393;
	font-size:80%;
}
#jserviceResult .hikakuName th {
	padding: 4px 1px 4px 4px;
	border-right: 1px solid #396;
	background: #CDE891;
	color: #030;
	text-align: left;
}
#jserviceResult .hikakuName td {
	padding: 3px 1px 3px 5px;
	border-right: 1px solid #396;
	background: #CDE891;
}
#jserviceResult .hikakuOutline {
	width: 920px;
	height: 360px;
	overflow: scroll;
	margin: 0px 0px 20px 50px;
	padding: 0px;
	border-bottom: 1px solid #063;
}

#jserviceResult .hikakuTable {
	line-height: 1.3;
	padding: 0px 1px 1px 0px;
	border-right: 1px solid #393;
	border-bottom: 1px solid #393;
	border-left: 1px solid #393;
	font-size:80%;
        background: #FFFDEF;
}
#jserviceResult .hikakuTable th {
	padding: 2px 2px 2px 4px;
	background: #E7F4CA;
	border-right: 1px solid #396;
	border-bottom: 2px solid #396;
	color: #030;
	text-align: left;
}
#jserviceResult .hikakuTable td {
	padding: 3px 1px 2px 5px;
	border-right: 1px solid #396;
	border-bottom: 2px solid #396;
}

#jserviceResult .hikakuSeparation{
        background: #E7F4CA;
}

/* 2015.10.01 add S */
#jserviceResult #map #mapsubcol {
	float: left;
	width: 35%;
	line-height: 1.4;
	padding: 1px 1px 1px 5px;
}
#jserviceResult #map #mapmaincol {
	float: right;
	width: 60%;
	margin: 0px;
	padding: 1px;
}
#jserviceResult #map #mapmaincol .mapdisp {
	margin: 0px 0px 0px 0px;
	padding: 2px;
	clear: both;
	width: 60%;
}
/* 2015.10.01 add E */

/* jigyoutop */
#jigyousyo #maincol .kensaku {
	margin: 2px 0px 20px;
	padding: 2px;
	border-top: 3px solid #696;
	border-right: 1px solid #9C9;
	border-bottom: 3px solid #696;
	border-left: 1px solid #9C9;
	background: url(../img/jservice_back1.gif) repeat-x top;
	clear: both;
}
#jigyousyo #maincol .theme2 {
	margin: 1px 2px 10px;
	padding: 2px 0px 2px 4px;
	border-bottom: 1px solid #696;
	color: #030;
	font-weight: bold;
	font-size: 130%;
	letter-spacing: 0.1em;
}
#jigyousyo #maincol .kensakuLead {
	margin: 0px 0px 15px 20px;
	padding: 0px;
	color: #900;
}
#jigyousyo #maincol .kensakuLead2 {
	margin: 0px 0px 5px 15px;
	color: #063;
	font-weight: bold;
}
#jigyousyo #maincol .step {
	width: 45%;
	padding: 2px 2px 2px 5px;
	background: #F0FDD0;
	color: #360;
}
#jigyousyo #maincol .step2 {
	color: #633;
}

#jigyousyo #maincol .kensakutextbox{
	margin: 0px 3px 15px 0px;
	padding: 5px 0px 0px 2px;
	border-bottom: 1px dashed #693;
	background: url(../img/jservice_back2_1.jpg) repeat-y left top;
}
#jigyousyo #maincol .kensakuline{
	border-bottom: 1px solid #990;
}

#jigyousyo #maincol .kensakutable{
	margin: 0px 0px 0px 28px;
	padding: 2px;
}
#jigyousyo #maincol .kensakutable2{
	margin: 0px 0px 0px 25px;
}
#jigyousyo #maincol .kensakutable2 td{
	border-left: 1px solid #9C6;
	padding: 2px 2px 2px 5px;
}
#jigyousyo #maincol .memo {
	margin: 3px 0px 0px;
	color: #060;
	font-size: 90%;
}
#jigyousyo #maincol .kensakubutton{
	margin: 0px 0px 0px 10px;
	padding: 0px 10px 5px 0px;
	text-align: right;
}
#jigyousyo #maincol .kensakubuttonStyle {
	margin: 0px 10px 0px 0px;
	font-size: 130%;
	text-align: center;
	width: 100px;
/* 2015.09.29 TCSJ add Start */
	height: 25px;
/* 2015.09.29 TCSJ add End */
letter-spacing: 0.2em;
}


/* shousai */
#jigyousyo #maincol .card {
	padding: 2px 2px 0px 0px;
	background: url(../img/jservice_back3_1.gif) repeat-y left;
	clear: both;
}
#jigyousyo #maincol .result {
	line-height: 1.5;
}
#jigyousyo #maincol .next {
	margin: 0px 0px 5px;
	font-size: 80%;
	text-align: right;
	width: 98%;
	clear: both;
}
#jigyousyo #maincol .next2 {
	margin: 0px 10px 0px 20px;
	float: right;
}
#jigyousyo #maincol .next3 {
	margin: 50px 0px 5px;
	font-size: 80%;
	text-align: right;
	width: 98%;
	clear: both;
}
#jigyousyo #maincol .koushin {
	float: right;
	font-size: 80%;
}
#jigyousyo #maincol .resultTheme {
	clear: both;
	line-height: 1.5;
	margin: 0px;
	padding: 3px 0px 4px;
	border-left: 5px dotted #093;
	background: url(../img/jservice_back1_2.gif) no-repeat left 7px;
	color: #030;
	font-weight: bold;
	font-size: 130%;
	text-indent: 22px;
	letter-spacing: 0.1em;
}
#jigyousyo #maincol .resultTitle {
	margin: 6px 0px 3px;
	padding: 0px 0px 0px 3px;
	border-bottom: 1px dashed #999;
	color: #600;
	font-weight: bold;
	font-size: 120%;
	background: url(../img/jservice_back1_1.gif) no-repeat left;
	text-indent: 16px;
}

#jigyousyo #maincol .resultTable {
	margin: 0px 0px 8px 8px;
	padding: 1px 1px 2px;
	border-top: 1px solid #696;
	border-right: 3px solid #696;
	border-bottom: 1px solid #696;
	border-left: 3px solid #696;
	font-size: 80%;
}
#jigyousyo #maincol .resultTable th {
	vertical-align: top;
	padding: 2px 1px 1px;
	border-right: 2px solid #9C9;
	border-bottom: 1px solid #396;
	font-weight: normal;
	text-align: left;
	background: #E7F4CA;
}
#jigyousyo #maincol .resultTable td {
	vertical-align: top;
	padding: 2px 1px 1px 4px;
	border-bottom: 1px solid #396;
	background: #FFF;
}
#jigyousyo #maincol .resultTable .imagebox {
	padding: 2px 1px 1px 4px;
	border-right: 2px solid #9C9;
	border-bottom: 1px solid #396;
    text-align: center;
}

#jigyousyo #maincol .resultTable .imagebox2 {
	line-height: 2.0;
	padding: 4px 1px 0px 4px;
    text-align: center;
}

#jigyousyo #maincol .resultTable2 {
	margin: 3px 0px;
	padding: 1px;
	border: 1px solid #993;
}
#jigyousyo #maincol .resultTable2 th {
/* 2015.09.29 TCSJ mod Start */
/*	font-size: 80%;*/
	font-size: 100%;
/* 2015.09.29 TCSJ mod End */
}
#jigyousyo #maincol .resultTable2 td {
	vertical-align: top;
	border-right: 1px solid #CC9;
	border-bottom: 1px solid #993;
/* 2015.09.29 TCSJ mod Start */
/*	font-size: 80%;*/
	font-size: 100%;
/* 2015.09.29 TCSJ mod End */
}
#jigyousyo #maincol .resultTable3 {
	margin: 0px;
	padding: 1px;
}
#jigyousyo #maincol .resultTable3 td {
	vertical-align: top;
	border-right: 1px solid #CC9;
	border-bottom-style: none;
/* 2015.09.29 TCSJ mod Start */
/*	font-size: 80%;*/
	font-size: 100%;
/* 2015.09.29 TCSJ mod End */
}

#jigyousyo #maincol .ichiranhyouji{
	padding: 4px 5px 2px 2px;
	font-size: 90%;
	color: #900;
	float: right;
	vertical-align: middle;
}
#jigyousyo #maincol .hyoujibutton {
	margin: 0px 10px 5px 0px;
	font-size: 130%;
	text-align: center;
	width: 120px;
/* 2015.09.29 TCSJ add Start */
	height: 25px;
/* 2015.09.29 TCSJ add End */
	letter-spacing: 0.2em;
}
/* 2015.09.29 TCSJ add Start */
#jigyousyo #maincol .hyoujibutton2 {
	margin: 0px 10px 5px 0px;
	font-size: 80%;
	text-align: center;
	width: 80px;
	height: 20px;
	letter-spacing: 0.1em;
}
/* 2015.09.29 TCSJ add End */
#jigyousyo #maincol .servicetextbox {
	line-height: 1.5;
	margin: 7px 0px 20px;
	padding-left: 5px;
	border-bottom: 1px dashed #693;
}

/* 2011.09.01 ITF add S */
#jigyousyo #maincol .yomiage {
	margin: 5px 0px 0px;
	text-align: left;
	width: 98%;
	clear: both;
}
/* map */
#map #maincol .kensaku {
	margin: 0px 0px 0px 0px;
	padding: 2px;
	clear: both;
	width: 60%;
}
/* 2011.09.01 ITF add E */

/* 2018.01.22 tcsj add S */
#jigyousyo #navi01 {
	border:#063 double 4px;
	width: 700px;
	font-size: 94%;
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
}
#jigyousyo #navi01 .gNavi {
	margin:0;
	padding:0;
	height:30px;
	overflow:hidden;
	background:#FFE;
}
#jigyousyo #navi01 .gNavi li {
	list-style:none;
	width:12.5%;
	float:left;
	line-height:30px;
	text-align:center;
	vertical-align:15px;
}
#jigyousyo #navi01 .gNavi li a {
	display:block;
	line-height:30px;
	text-align:center;
}
#jigyousyo #navi01 .gNavi li a:hover {
	background:#FC3;
}
/* 2018.01.22 tcsj add E */
